@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    /* margin: 0;
    padding: 0; */
    overflow-x: hidden;
}
.first_page{
    height: 100vh;
    /* border: 2px solid black; */
}
.nav{
    height: 20%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    /* display: block; */
}
.logo{
    color: logo;
    font-family: "Quelia";
    /* height: 2rem;
    width: 3rem; */
    font-size: 30px;
    font-weight: 210px;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.main_nav{
    display: flex;
    gap: 3rem;
    margin-left: 5rem;
    align-items: center;
    font-style: none;
   
    
}
.main_nav a{
    text-decoration: none;
    font-style: none;
    color: #1E1E1E80;
    font-size: 1.5rem;
}
.main_nav a:hover{
    color: #1E1E1E;
}
.side_logo{
    /* display: flex;
    flex-direction: row; */
    margin-left: 40rem ;
   padding-top: 3rem;
   padding-right: 1rem;
}
.side_logo:hover{
    cursor: pointer;
}
.shopping_cart{
    padding-right: 3rem;
    color: #1E1E1E;
}
.user_card{
    padding-right: 2rem;
}
.three_line{
    border-left: 2px solid black;
    padding-left: 34px;
    height: 18px;
}
.user_card{
     height: 18px;
     padding-left: 4px;
}
.shopping_cart{
     height: 18px;
}

/*plant page*/
.lower_page{
    height: 80%;
    width: 100%;
    border-radius: 9px;
    display: flex;
    gap: 1rem;
    background-color: #C1DCDC;
    padding-left: 1rem;
}
.left_section_upper_heading{
    font-size: 25px;
}
.left_section{
    height: 80%;
    width: 45%;
    /* border: 2px solid blue; */
}
.right_section{
        height: 80%;
    width: 45%;
    /* border: 2px solid blue; */
}
.left_section_upper{
    height: 70%;
    width: 70%;
    /* border: 2px solid pink; */
}
.left_section_upper_two_box{
    height: 15%;
    width: 60%;
    /* border: 2px solid gray; */
    display: flex;
    gap: 4rem ;
    align-items: center;
    justify-content: center;
    padding-right: 3rem;
}
.first_box{
    /* border-right: 2px solid black; */
    padding-right: 3rem;
    padding-left: 4rem;
    
}

.second_box{
    padding-right: 1rem;
    height: 100%;
    width: 50%;
}

.placeholder{
    height: 4rem;
    width: 25rem;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    background-color: #FFFFFF;
    margin-top: 4rem;

}
.placeholder h4{
    color: #1E1E1E80;
    padding-left: 2rem;
}
.placeholder_img{
    height: 1.5rem;
    width: 1.5rem;
    background-color: #C1DCDC;
    border-radius: 9px;
    padding: 6px;
    margin-right: 1rem;
}
.right_section{
    position: absolute;
}
.right_image{
    position: relative;
    margin-left: 59rem;
    margin-top:-4rem;
}
.circle{
    height: 70%;
    width: 40%;
    /* border-radius: 2px solid blue ; */
    background-color: #1E1E1E;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
    margin-top: 11rem;
    margin-left: 8rem;
    border-radius: (0 , 0 , 10px , 10px);
    
}
.arro_img{
    margin-right: 7rem;
    padding-top: 6rem;
    /* padding-right: 5rem; */
    position: relative;
    
    
}
.second_arro{
    position: relative;
    margin-left: 35rem;
   /* padding-top: 3rem; */
}

/*second page*/

.second_page{
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
}
.four_div{
    height: 80%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}
.first_div{
    height: 80%;
    width: 22%;
    /* border: 2px solid red; */
    transition: transform 0.3s ease;
}
.first_div h1{
    font-family: "Roboto"
}
.first_div button{
    height: 35px;
    width: 110px;
    margin-top: 2rem;
    background-color: #C1DCDC;
    border: none;
    border-radius: 8px;
    color: #1E1E1E;
    font-weight: 200px;
    font-size: 15px;
    font-family: "Roboto";
}
.first_div button:hover{
    background-color: #95f3f3;
}

.first_div p{
    font-family: "Roboto";
    color: #1E1E1E80;
    padding-top: 1rem;
}
.first_div:hover{
    transform: translateY(-10px);
}

.second_div{
     height: 80%;
    width: 22%;
    /* border: 2px solid red; */
    object-fit: contain;
    transition: transform 0.3s ease;
}
.second_div:hover{
    transform: translateY(-10px);
}
.second_div img{
    height: 80%;
    width: 100%;
    border-radius: 9px;
}
.prise_tag{
    color: #1E1E1E80;
}
.normal_tag{
    font-family: "Roboto";
}
.third_div{
       height: 80%;
    width: 22%;
 
    object-fit: contain;
    transition: transform 0.3s ease;
}
.third_div:hover{
    transform: translateY(-10px)
}

.third_div img{
    height: 80%;
    width: 100%;
    border-radius: 9px;
}
.normal1_tag{
    font-family: "Roboto";
}
.prise1_tag{
     color: #1E1E1E80;
}
.first_div img{
        height: 80%;
    width: 100%;
    border-radius: 9px;
}
.normal1_1_tag{
    font-family: "Roboto";
}
.prise1_1_tag{
      color: #1E1E1E80;
}

/* about us page */

.about{
    height: 100vh;
    width: 100%;
    border: 2px solid black;
}
.main_about{
    height: 70%;
    width: 90%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
}
.about_head{
    text-align: center;
}
.about_head p{
    color: #1E1E1E80;
}
.about_head h1{
    font-family: "Roboto";
}
.about_three{
    height: 70%;
    width: 70%;
    border: 2px solid blue;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.first_div_about{
    height: 100%;
    width: 30%;
    border: 2px solid black;
}
.first_div_about img{
    height: 70px;
    width: 60px;
    /* border: 2px solid rebeccapurple; */
    border-radius: 50%;
    padding: 4px;
    object-fit: contain;
    background-color: #C1DCDC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec_div_about{
        height: 100%;
    width: 30%;
    border: 2px solid black;

}
.third_div_about{
          height: 100%;
    width: 30%;
    border: 2px solid black;
}